//  https://scotch.io/tutorials/using-sass-in-create-react-app-v2
@import './Variables.scss';
@import './Mixins.scss';
body {
    color: $black;
    background: #f4f4f4;
    font: $font-default;
}

a {
    color: #222;
}

a:hover {
    text-decoration: underline;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    @include input;
}

button {
    @include button;
}

button:hover {
    color: #222;
}

*:focus {
    outline: none;
}