//  https://scotch.io/tutorials/using-sass-in-create-react-app-v2
// 
// fonts
$font-default: 400 14px CoreSans,
Arial,
sans-serif;
$ff-code: source-code-pro,
Menlo,
Monaco,
Consolas,
"Courier New",
monospace;
// 
// colors
$black: #222;
// 
// buttons
$button-color: #808080;